<ul class="navbar-nav ml-auto">
              {% for menu in site.data.menu %}  
                
                    <li>  
                        {% if menu.name == page.title %}
                        <a class="nav-link active" href="{{ site.baseurl }}{{menu.url}}">{{menu.name}}</a>
                        {% else %} 
                         <a class="nav-link" href="{{ site.baseurl }}{{menu.url}}">{{menu.name}}</a>
                         {% endif %}
                    </li>
              {% endfor %}

              <li class="nav-item">
                        <a   class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
</ul>


   